@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.app {
    * {
        font-family: 'Prompt', sans-serif;
        --corsa-red: #D00000;
        --light-red: #EF233C;
        --yellow: #FFBA08;
        --light: #EDF2F4;
        --blue: #3F88C5;
        --light-blue: #8D99AE;
        --dark-blue: #2B2D42;
        --pine-green: #136F63;
    }
    
}